@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .overlay-mask {
        mask-image: linear-gradient(0deg, rgb(0 0 0 / 100%) 0%, rgb(0 0 0 / 0%) 40%);
    }
}

html,
body {
    overscroll-behavior: none;
    width: 100vw;
    height: 100vh;
}

body {
    overflow-y: hidden;
}

svg {
    width: 2rem;
    height: 2rem;
}

.navActive {
    background: rgba(255, 255, 255, 0.1);
}

.glassEffect {
    background: rgba(24, 24, 29, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
